pandas==3.0.5
numpy==2.5.3
matplotlib==3.11.1
seaborn==0.13.2
scikit-learn==1.9.1
scipy==1.18.1
xgboost==3.4.1
joblib==1.6.0

# --- jupyter для запуска ноутбуков ---
jupyterlab==4.6.3
ipykernel==7.3.0
notebook==7.6.2
